/*QuickReset*/
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    overflow: hidden;
    font: 16px/1.2 sans-serif;
    touch-action: none;
}

#app {
    touch-action: none;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: hsla(0, 0%, 100%, 0.85);

    /*background-color: #170d24;*/
    background-image: url("background.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    /*background-image: radial-gradient(*/
    /*        ellipse at 10% 90%,*/
    /*        #3c2d83 0%,*/
    /*        transparent 55%*/
    /*    ),*/
    /*    radial-gradient(ellipse at 90% 90%, #8f2746 0%, transparent 55%),*/
    /*    radial-gradient(ellipse at 90% 10%, #395aac 0%, transparent 55%),*/
    /*    radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);*/
}

#app-left {
    position: relative;
    flex: 1;
}

#app-right {
    position: relative;
    flex: 1;
}

#app-menu {
    pointer-events: none;
    position: absolute;
    padding: 20px;
    visibility: hidden;

    &.is-active {
        visibility: visible;
    }
}

/*.player {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    left: 0;*/
/*    top: 0;*/
/*    font-size: 3em;*/
/*    pointer-events: none;*/
/*    background-image: url("player.jpeg");*/
/*    background-position: 50%;*/
/*    background-size: cover;*/
/*    width: 250px;*/
/*    height: 250px;*/
/*}*/

/*.missile {*/
/*    position: absolute;*/
/*    width: 4px;*/
/*    height: 20px;*/
/*    background: red;*/
/*}*/

.Gamepad-controller.is-active {
    box-shadow: 0 0 50px currentColor;
}

/*@media all and (min-width:0px) and (max-width: 1000px) {*/
/*    #app {*/
/*        transform: rotate(90deg);*/
/*        transform-origin:bottom left;*/

/*        position:absolute;*/
/*        top: -100vw;*/
/*        left: 0;*/

/*        height:100vw;*/
/*        width:100vh;*/

/*        background-color:#000;*/
/*        color:#fff;*/

/*        overflow:auto;*/
/*    }*/
/*}*/

